body {
    margin: 0;
    padding: 0;
    background-image: url(./images/movie_review/background.png);
    background-attachment: fixed;
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}
#banner {
    background-image: url('./images/movie_review/bannerbg.png');
    background-repeat: repeat-x;
    height: 50px;
    text-align: center;
}
.movie-title {
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}
.content {
    width: 800px;
    margin: auto;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: auto;
}
.left-content {
    width: 550px;
    float: left;
}
#rottenHeader {
    background-image: url('./images/movie_review/rbg.png');
    background-repeat: repeat-x;
    font-size: 48pt;
    height: 83px;
    color: red;
    font-weight: bold;
    border-top-left-radius: 15px;
    
}
#rottenHeader img {
    vertical-align: bottom;
    border-top-left-radius: 15px;
}
#reviews {
    column-count: 2;
    column-gap: 11px;
    break-before: always;
    padding: 0 11px;
    font-size: 8pt;
}
#reviews p.review-detail {
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    overflow: hidden;
    clear: left;
    /* display: inline-block; */
}
.review-detail img {
    float: left;
    margin-right: 5px;
}
#reviews p.reviewer img {
    margin-right: 5px;
    margin-bottom: 20pt;
}
.reviewer img {
    float: left;
}
.reviewer .publication {
    font-style: italic;
}
.right-content {
    width: 250px;
    background-color: #A2B964;
    font-size: 8pt;
    font-family: Arial, sans-serif;
    float: right;
    border-top-right-radius: 15px;
}
.right-content dl {
    padding-left: 10pt;
    padding-right: 10pt;
}
.right-content dt {
    font-weight: bold;
}
.right-content dd {
    margin-bottom: 10pt;
}
.right-content dd ul {
    list-style: none;
    padding: 0;
}
#poster-area img {
    border-top-right-radius: 15px;
}
.pagination {
    clear: both;
    background-color: #A2B964;
    text-align: center;
    margin: 0;
    padding: 5px 0px;
}