html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}
body {
    margin: 0;
}
.wrapper {
  height: 100%;
  background: #0f0d0b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  background-color: #fbc514;
  padding: 15px 10px;
  border-radius: 5px;
  width: auto;
  height: auto;
}
.label-with-width {
    display: inline-block;
    width: 120px;
}
a {
    color: black;
    text-decoration: none;
}
span {
    color: red;
}
.mg-b-5 {
    margin-bottom: 5px;
}
input[type="submit"] {
    color: black;
    font-weight: bold;
    background-color: bisque;
    border-color: bisque;
    padding: 3px 7px;
}