body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.container {
    width: 1024px;
    margin: auto;
    background-color: ghostwhite;
}
.cover {
    height: 270px;
    background-image: url("./images/cover-photo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.profile {
    margin-top: -125px;
}
.profile img {
    border-radius: 50%;
    width: 200px;
}
.content {
    padding-left: 5px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 20px;
    background-color: ghostwhite;
}
.content > ul li a {
    text-decoration: none;
}
footer {
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    max-width: 1024px;
    background-color: #0f0d0b;
    color: #fbc514;
}
footer > div {
    display: flex;
    align-items: center;
}
.left-footer {
    padding-left: 5px;
}
.middle-footer > img {
    width: 55px;
    height: 55px;
}